body{
font-family:sans-serif;
background:#111;
color:white;
text-align:center;
padding:20px;
}

input, select{
padding:10px;
margin:5px;
}

button{
padding:10px;
background:#ff4500;
border:none;
color:white;
cursor:pointer;
}

.book{
background:#222;
padding:10px;
margin:10px;
border-radius:5px;
}

.borrow{
background:#444;
margin-left:10px;
}
